{% extends 'base.html.twig' %}

{% block title %}Mon compte - Gaelle Kerforne{% endblock %}

{% block body %}
<main class="container my-auto">
    <h2>Hello {{ app.user.firstname }} {{ app.user.lastname }}</h2>

</main>


{% endblock %}
